<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stickers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>iOS Install.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iOS Release.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00E356ED1AD99517003FC87E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13B07F861A680F5B00A75B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D02E47A1E0B4A5D006451C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D02E48F1E0B4A5D006451C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525F46451EE79DE600C5492D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525F46551EE79DE700C5492D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525F46601EE79DE700C5492D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5266189C1EE759EB00E0E3FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>528649D31EE75533002D99F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A9173B1EE756F2008F25E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
